.createStudents{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.closeBtn{
    margin-left: 60%;
    height: 35px;
    width: 35px;
    background-color: rgba(131, 0, 204);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.closeBtn:hover{
    box-shadow: 8px 5px 5px #3885d1;
}
.inner{
    width: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #be75e5;
    border-radius: 20px;
    box-shadow: 5px 2px 2px hwb(279 46% 10%);
}
.inner:hover{
    box-shadow: 10px 5px 5px #8300cc;
}
.inner input{
    padding: 0 10px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(131, 0, 204, 0.3);
    color: #4d0276;
    font-size: 18px;
    border: none;
    outline: none;
}
.inner input:hover{
    box-shadow: 5px 3px 3px #7a03bb;
}
.inner label{
    color: #4d0276;
}
.btn{
    height: 35px;
    padding: 0 20px;
    margin-top: 15px;
    background-color: rgba(131, 0, 204);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 8px 5px 5px #3885d1;
}