*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgba(56,133,209,1);
    height: 60px;
    border-bottom: 1px solid rgb(14, 68, 121);;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.inner{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo{
    color: #8300cc;
    font-size: 24px;
    font-weight: 400;
}
.btns{
    display: flex;
}
.name{
    width: 35px;
    height: 35px;
    background-color: #8300cc;
    opacity: .7;
    text-align: center;
    color: rgb(239, 238, 238);
    padding-top: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.admin{
    width: 70px;
    height: 35px;
    background-color: #8300cc;
    border: none;
    opacity: .7;
    color: rgb(239, 238, 238);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.logout{
    width: 70px;
    height: 35px;
    background-color: #8300cc;
    border: none;
    opacity: .7;
    color: rgb(239, 238, 238);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
@media screen and (max-width: 420px){

}